 body {
   font: 1.5em/1.5
"Times New Roman", Times, serif;
}

 a:link {
  color: white; 
}

a:visited {
 color: white;
}

a:hover { 
 color: gray;
}

a:active {
 color: darkblue;
}
  
body {
  color: #00A084;
background-color: #00D9B8;
}

h1 {
 color: #ff8dc;
 text-align: center; 
}




